body {
  display: flex;
  background-color: rgb(43, 43, 43);
}
.container {
  margin: 0 auto;
}
#todo-list {
  background-color: lightslategray;
  border: 3px solid rgb(88, 95, 88);
  height: 500px;
  width: 500px;
  overflow-y: scroll;
}

input[type="text"] {
  width: 450px;
}

#todo-title {
  height: 40px;
  line-height: 40px;
  text-align: center;
  background-color: lightslategray;
  border: 3px solid rgb(88, 95, 88);
}
#add-todo {
  width: 100px;
  height: 30px;
  background-color: lightskyblue;
}
#input-wrapper {
  width: 500px;
  display: flex;
  flex-direction: row;
  border: 3px solid rgb(88, 95, 88);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  line-height: 40px;
  text-align: center;
  display: flex;
  justify-content: space-between;
  border: 1px solid rgb(43, 43, 43);
  width: 100%;
  height: 40px;
  background-color: gray;
}

.delete-button {
  margin-right: 10px;
  border: 1px solid rgb(43, 43, 43);
  background-color: lightskyblue;
}
